#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# Flow self-hosts from the checked-in C bootstrap on first invocation.

override_dh_auto_install:
	mkdir -p debian/flow/usr/bin debian/flow/usr/lib/flow
	cp -r compiler lib runtime tools scripts registry debian/flow/usr/lib/flow/
	cp flow flow.toml VERSION debian/flow/usr/lib/flow/
	chmod 755 debian/flow/usr/lib/flow/flow
	ln -s /usr/lib/flow/flow debian/flow/usr/bin/flow
